body { 
    background-color: rgb(255, 0, 0); 
    color: rgb(0, 0, 0); 
    font-family: Helvetica; 
    font-size: 22px; 
    } 
    .reverse { 
    background-color: rgb(255, 255, 255) !important; 
    color: rgb(0, 0, 0); 
    } 
    p { 
    padding: 100px; 
    }
    